/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Quicksand', sans-serif; */

:root {
  --blue: #009ba5;
  --white: #ffffff;
  --gray: #6b6b6b;
  --black: #000000;
  --yellow: #fe6711;
  --lightBlue: #f2fafa;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
}

/* index  page  */
.side-margin {
  padding-left: 8vw;
  padding-right: 8vw;
}

/* navbar */
.logo {
  width: 100px;
  height: 100px;
}
.logo img {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.608) 0px 4px 7px, rgba(0, 0, 0, 0.658) 0px 3px 6px;
}

.nav-links {
  margin-top: 3.3%;
  display: flex;
  justify-content: space-between;
  width: 50%;
  list-style: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

.nav-links li :hover {
  color: var(--blue);
}
.nav-links li a {
  text-decoration: none;
  color: var(--black);
}

.login {
  border: 2px solid var(--blue);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  color: var(--white) !important;
  background-color: var(--blue);
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--blue);
  margin: 5px;
}

.burger {
  margin-top: 2.9%;
}

/* index page start here  */
.hero-container {
  background-color: var(--lightBlue);
  margin-top: 0.5%;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 900;
  font-size: 35px;
}

.tagline {
  padding-top: 15%;
  width: 40%;
}
.hero-section {
  display: flex;
}
.hero-image {
  width: 60%;
}

.hero-image img {
  width: 100%;
  height: 90%;
}

.tagline h1 {
  color: #000000;
  opacity: 60%;
  line-height: 43px;
}

p {
  font-size: 20px;
  font-weight: 500;
  color: var(--gray);
}
.paragraph {
  margin-top: 5%;
}



.button {
  width: 250px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
  border: none;
  background-color: var(--blue);
}

.join-us {
  margin-top: 5%;
}

/* who we are section */

.who-we-are {
  padding-top: 3%;
  padding-bottom: 3%;
}

.who-we-are h1 {
  text-align: center;
  color: var(--blue);
}
.line {
  width: 40px;
  border-top: 4px solid var(--blue);
  border-right: none;
  border-bottom: none;
}

.who-we-are p {
  line-height: 45px;
  letter-spacing: 1px;
  padding-top: 3%;
}
/* what  we do section */
.what-we-do {
  background-color: var(--lightBlue);
  padding-bottom: 15%;
}

.what-we-do h1 {
  padding-top: 3%;
  color: var(--blue);
  text-align: center;
}

.what-we-do hr{
  margin-bottom: 13%;
}

.what-we-do h2{
  font-size: 20px;
  margin-top: 10%;
  color: var(--gray);
}
.what-we-do p{
  font-size: 15px;
  margin-top: 3%;
}

/* .box-container div:hover{
  
  width: 25%;
  height: 80%;
  padding: 5%;
  color: var(--white);
} */


.item {
  width: 23%;
  height: 30%;
  background-color: var(--white);
  text-align: center;
  padding: 2%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
 
}

.item-image {
  width: 100px;
}

.box-container{
  display: flex;
  justify-content: space-between;
}


/* footer start here */
footer {
  /* margin-top: 10%; */
  width: 100%;
  background-color: var(--blue);
}
footer img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 180px;
}

hr {
  width: 90vw;
  height: 2px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.677);
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
  margin-bottom: 1px;
}

footer {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

footer #contact {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;

  margin-bottom: 2%;
}

.copyrights {
  text-align: center;
  margin-top: 2%;
  padding-bottom: 2%;
}

/* preloader */

.preloaderBg {
  position: fixed;
  z-index: 10;
  top: 0;
  background: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 15%;
}

.preloader {
  margin: auto;
  background: url(../img/logo.png) no-repeat center;
  background-size: 150px;
  width: 300px;
  height: 300px;
}

.preloader2 {
  border: 5px solid #f3f3f3;
  border-top: 5px solid var(--blue);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  animation: spin 1s ease-in-out infinite;
  position: relative;
  margin: auto;
  top: -280px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  from {
    opacity: 10;
  }
  to {
    opacity: 0;
  }
}

/* media query  started here */

@media screen and (max-width: 1244px) {
  .nav-links {
    margin-top: 6%;
    width: 70%;
  }
}

@media screen and (max-width: 1080px) {
  .nav-links {
    width: 80%;
  }
}

@media screen and (max-width: 945px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 110vh;
    background-color: var(--white);
    top: 6.1vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
  .nav-links li {
    opacity: 0;
  }
  .register {
    border: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    background-color: #dc2626;
  }

  .text {
    text-align: left;
  }

  .login {
    border: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 0px;
    background-color: var(--white) !important;
    color: var(--black) !important;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggel .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggel .line2 {
  opacity: 0;
}
.toggel .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
